@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
      background-color: rgb(255, 255, 255);
      font-family: 'Roboto Slab', serif;
      font-size: 16px;
  }

#header {
    margin: 15px 15px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.logo {
    width: 30%;
}

#nav-bar {
    width: 70%;
}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    flex: auto;
    font-size: 20px;
}

nav li a {
    text-decoration: none;
}

#features
#pricing {
    width: 80%;
    margin: 0 auto;
}

#features h2 {
    text-align: center;
}

.features-display {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.features {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}

.feature {
    flex-basis: 30%;
}

#pvideo {
    margin: 15px 0;
    padding: 15px 0;
}

.vid-frame {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.signup {
   flex-direction: column;
   text-align: center;
}

.submit-form {
    display: flex;
    justify-content: center;
}

#form {
    margin: 10px 0;
    display: block;
}

.btn {
    display: block;
    margin: 0 auto;
}

#pricing {
    display: flex;
}

.levels {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
}

.options {
    
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}